@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: none;

    width: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



header {
    background: transparent;
    color: #fff;
    padding: px;
    width: 100%;
}

#logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 5px;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 0;
}

.main-nav li {
    display: inline-block;
    margin-left: 3px;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 15px 8px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #FB8500;
}

.main-nav li:first-child {
    margin-left: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.hero {
    /* background-image: url('hero.jpg');
    background-size: cover;
    background-position: center; */
    color: #fff;
    text-align: center;
    height: auto;
    /* padding: 100px 0; */
}

.hero h2 {
    font-family: "Anton", sans-serif;
    font-size: 64px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-weight: 700; */
    color: #FDF0D5;
}

.hero p {
    font-family: cursive;
    font-size: 24px;
    color: #e8eddf;
    margin-top: 5px;
    margin-bottom: 40px;
}

.hero a {
    padding: 20px 50px;
    background-color: #FB8500;
    border-radius: 30px;
    text-decoration: none;
    color: #FDF0D5;
    font-size: large;
    font-weight: 800;
    text-transform: uppercase;
}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50px;

}

.featured h2 {
    margin-right: 50px;
}

.card:before {
    content: "";
    background: linear-gradient(45deg,
            #7a1606,
            #b94a2e,
            #d5b27c,
            #a97d26,
            #545e21);
    /* #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000); */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 04px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.card:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.card {
    width: 300px;
    /* border: 1px solid #ccc;
    background-color: #fff; */
    border-radius: 5px;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    /* margin: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card figure {
    width: auto;
    height: 200px;
    object-fit: contain;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card h3 {
    color: #ecd39e;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.card p {
    text-align: center;
    font-size: 16px;
    color: #ffd900c2;
    font-weight: 600;
}


.ft {
    background-color: #f5f9fbe5;
    color: #8773c2;
    text-align: center;
    padding: 2px;
    bottom: 0;
}

.btn{
    border-radius: 8px;
}
